*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: #f4f7f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
#navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    box-shadow: 0 0 4px grey;
    font-size: 13px;
    position: fixed;
    top: 0;
    text-align: center;
    align-items: center;
    vertical-align: center;
    padding: 0 10px;
}
#navbar #logo, #navbar #navlist{
    flex-basis: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 35px;
}
#navbar #navlist a{
    margin: 0 10px;
    color: #0a0a0a;
    text-decoration: none;
}
#container{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
